{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="aboutContainer">
    <h1>About</h1>
    <h2>Datos de la Creadora </h2><br>
    <h3> Nombre: Camila Gonzalez</h2>
    <h3> Email: camiiigonzalez1503@gmail.com</h2>
    <h3> Nacionalidad: Argentina</h2><br>
    <h2> Descripcion </h2>
    <p id="aboutDescription">Mi nombre es Camila Gonzalez. Soy estudiante de Licenciatura en Gestion de la Tecnologia de la Informacion en la Universidad Argentina de la Empresa, en Argentina.
        Estoy en primer año de la carrera. Este curso fue mi primer acercamiento al mundo de la programacion y el desarrollo.
    </p>

</div>

{% endblock %}