{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

        <div class="text-center">
            <h3>Que bueno verte {{user.username}}</h3>
        </div>

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>{{mensaje}}</h1>
  

    <h3>Podes buscar una carteras:</h3>

    <form action="/AppCoder/buscar/" method="GET">
        <label for="color"> Color </label>
        <input type="text" name="color" id="color">
        <label for="material"> material </label>
        <input type="text" name="material" id="material">

        <input type="submit" value="Buscar">




    </form>

    

    {% if carteras %}

    <p>Estamos buscando la cartera: {{color}}, de material {{material}} </p>

	{% for cartera in carteras %}
    <ul style="background-color: lightsalmon;">
		<li> {{cartera.material}} </li>
		<li> {{cartera.precio}} </li>
		<li> {{cartera.color}} </li>
		<li> {{cartera.capacidad}} </li>
    </ul>
	{% endfor %}


    {% else %}
    <p>No hay datos con esa descripción.</p>

    {% endif %}

    <p style="color: red;">{{respuesta}}</p>
 
   

{% endblock %}