{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h2 style="text-align: center">{{mensaje}}</h2>

{% if user.username %}
<div class="text-center">
    <h3>Que bueno verte {{user.username}}</h3>
</div>

<h3>Podes buscar blogs:</h3>

<form action="/AppCoder/buscar/" method="GET">
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" id="titulo">
    <label for="autor">autor</label>
    <input type="text" name="autor" id="autor">
    <input type="submit" value="Buscar">
</form>



{% if blogs %}

<span>
    Estamos buscando los blogs:
    {% if titulo %}
    <span>Con titulo: {{titulo}}</span>
    {% endif %}
    {% if titulo %}
    <span>
        y autor:{{autor}} </span>
    </span>
        {% endif %}

{% for blog in blogs %}
<div class="blogDetailPageContainer">

    <div class="blogDetailContainer">
        
        <img src="{{blog.imagen.url}}" width="500px" alt="">
        <h2>
            {{blog.titulo}}
        </h2>
        <h2>
            {{blog.subtitulo}}
        </h2>
        <h2>
            Autor {{blog.autor}}
        </h2>
        <h4>
            Fecha: {{blog.fecha}}
        </h4>
        <p>
            {{blog.cuerpo}}
        </p>
        <a class="addNewProductButton" href="{% url 'Pages' %}">Regresar</a>
    </div>
</div>
{% endfor %}


{% else %}
<p>No hay datos con esa descripción.</p>

{% endif %}

<p style="color: red;">{{respuesta}}</p>

{% else %}
<div class="text-center">
    <h3>Por favor, inicia sesion o registrate!</h3>
</div>

{% endif %}


<!--Aquí va lo que cambia, y lo asociado a está vista :) -->






{% endblock %}