{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div class="LeerDatacontainer">
<h2 class="leerTitle">Lista de ropa disponible</h2>
<div class="productsContainer">

    {% for r in ropa %}
    <ul class="product">
        <li>{{r.tipo}}</li>
        <li>{{r.precio}}</li>
        <li>{{r.talle}}</li>
        <li>{{r.color}}</li>
    </ul>
    {% endfor %}

    <br>
</div>
<a class="addNewProductButton" href="ropa">Nueva Ropa</a>    
</div>
    {% endblock %}