{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div class="LeerDatacontainer">
    <h2 class="leerTitle">Lista de Maquillajes disponible</h2>
    <div class="productsContainer">
    {% for m in maquillajes %}
    <ul class="product">
        <li>{{m.tipo}}</li>
        <li>{{m.precio}}</li>
        <li>{{m.talle}}</li>
        <li>{{m.color}}</li>
    </ul>
    {% endfor %}

    <br>
</div>
<a class="addNewProductButton" href="maquillaje">Nuevo Maquillaje</a>    
</div>   
{% endblock %}