{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<div class="LeerDatacontainer">
    <h2 class="leerTitle">Lista de carteras disponible</h2>
    <div class="productsContainer">
        {% for c in carteras %}
        <ul class="product">
            <li>{{c.color}}</li>
            <li>{{c.capacidad}}</li>
            <li>{{c.material}}</li>
            <li>{{c.precio}}</li>
        </ul>
        {% endfor %}
        
        <br>
    </div>
    <a class="addNewProductButton" href="cartera">Nueva Cartera</a>    
</div>
{% endblock %}